<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>58云财经</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/css.css" />
        <!--日历JS-->
        <script type="text/javascript" src="/javascripts/js/laydate.js"></script>
        <!--日历JS-->
        <!--顶部JS-->
        <script type="text/javascript" src="/javascripts/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/javascripts/js/nav.js"></script>
        <!--顶部JS-->
        <!--返回顶部JS-->
        <script type="text/javascript" src="/javascripts/js/popwin.js"></script>
        <!--返回顶部JS-->
        <!--实时推送socketio库-->
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/javascripts/angular/angular.min.js"></script>
        <!--应用逻辑控制-->
        <script type="text/javascript" src="/javascripts/angular/ycj_controller.js"></script>
    </head>
    <body ng-app="ycj_app" >
        <!--top开始-->
        <div class="top">
    <div class="topbox">
        <div class="logo"><a href="#"><img src="/images/cj_logo.png" width="150" height="45" /></a></div>
        <div class="ad"></div>
        <div class="navbox">  
            <!--导航开始-->
            <div class="nav">
                <ul>
                    <li ><a href="/">实时快讯</a></li>
                    <li ><a href="/news">新闻资讯</a></li>
                    <li ><a href="/calendar">财经日历</a></li>
                    <li ><a href="/mobile">APP下载</a></li>
                </ul>
                <div class="nav-line"></div>
            </div>   
            <!--导航结束-->
        </div>
    </div>
</div>
        <script>
            $(".nav li:contains('财经日历')").addClass("cur");
        </script>
        <!--top结束-->
        <!--middle开始-->
        <div class="middle"  ng-controller="calendarCtrl">
            <!--查询开始-->
            <div class="search">
    <ul>
        <li class="searchrl">日期</li>
        <li class="searchdd" >
            <div class="cjsearch">
                <input readonly class="laydate-icon" id="calendar" lay-date ng-model="selDate" >
            </div>
            <div class="cjdate" >
                <div class="cjdates"><a href="#" ng-click="preWeek()">&lt;上一周</a></div>
                <!--周列表开始-->
                <a href="" ng-click="selectedDay(week.week)" ng-repeat="week in weeks"> 
                    <div ng-class="{true: 'cjdatels', false: 'cjdateone'}[week.curDay]" >
                        <span class="cjdatez">{{week.week}}</span>
                        <span class="cjdater">{{week.day}}</span>
                    </div>
                </a>
                <!--周列表结束-->
                <div class="cjdates cjdates1"><a href="#" ng-click="nextWeek()">下一周&gt;</a></div>
            </div>
        </li>
    </ul>
    <ul>
        <li class="searchtxt">地区</li>
        <li class="searchdc">
            <div class="item">
                <!--地区列表开始-->
                <div ng-click="clickNation(nation)" ng-repeat="nation in nations">
                    <div ng-class="{false: 'item1', true: 'item2'}[nation.checked]">
                        <a href="">{{nation.name}}</a>
                    </div>
                </div>
                <!--地区列表结束-->
            </div>
        </li>
    </ul>
    <ul>
        <li class="searchtxt">重要性</li>
        <li>
            <div class="item">
                <!--重要性列表开始-->
                <div ng-click="clickImportant(important)" ng-repeat="important in importants">
                    <div ng-class="{false: 'item1', true: 'item2'}[important.checked]">
                        <a href="">{{important.name}}</a>
                    </div>
                </div>
                <!--重要性列表结束-->
            </div>
        </li>
    </ul>
</div>
            <!--查询结束-->
            <!--经济数据开始-->
            <div class="cjsj">{{transCHNDate(selDate)}} 经济数据一览</div>
<div class="cjlb">
    <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#E6E6E6">
        <tr style="font-size:13px;"> 
            <td width="7%" height="30" align="center" valign="middle" bgcolor="#E6E6E6">时间</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">国家/地区</td>
            <td width="34%" align="center" valign="middle" bgcolor="#E6E6E6">指标名称</td>
            <td width="9%" align="center" valign="middle" bgcolor="#E6E6E6">重要性</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">前值</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">预测值</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">公布值</td>
            <td width="18%" align="center" valign="middle" bgcolor="#E6E6E6">多空判断</td>
        </tr>
        <tr align="center" valign="middle" ng-repeat="calendar_data in calendar_datas">
            <td height="40" bgcolor="#FFFFFF" ng-bind="calendar_data.time"></td>
            <td bgcolor="#FFFFFF"><img src="/images/nation/{{calendar_data.nation}}.png" width="24" height="24" /></td>
            <td height="40" align="left" bgcolor="#FFFFFF" ng-class="{'txtred': calendar_data.import_index>=3}" ng-bind="calendar_data.name"></td>
            <td bgcolor="#FFFFFF"><img src="/images/{{calendar_data.import_index}}{{calendar_data.import_index}}.jpg" width="79" height="19" /></td>
            <td bgcolor="#FFFFFF" ng-bind="calendar_data.pre_value"></td>
            <td bgcolor="#FFFFFF" ng-bind="calendar_data.yq_value"></td>
            <td bgcolor="#FFFFFF" ng-bind="calendar_data.sj_value"></td>
            <td bgcolor="#FFFFFF">
                <font class="red">利多美元</font> 
                <font class="green">利空金银</font> 
                <font class="yellow">石油</font></td>
        </tr>
        
        <!--静态数据开始-->
        <tr align="center" valign="middle" class="static-data">
            <td height="40" bgcolor="#FFFFFF" class="ng-binding">14:00</td>
            <td bgcolor="#FFFFFF"><img src="/images/nation/日本.png" width="24" height="24"></td>
            <td height="40" align="left" bgcolor="#FFFFFF" class="ng-binding txtred">日本2月机床订单年率终值</td>
            <td bgcolor="#FFFFFF"><img src="/images/33.jpg" width="79" height="19"></td>
            <td bgcolor="#FFFFFF" class="ng-binding">-22.6%</td>
            <td bgcolor="#FFFFFF" class="ng-binding">--</td>
            <td bgcolor="#FFFFFF" class="ng-binding"></td>
            <td bgcolor="#FFFFFF">
                <font class="red">利多美元</font> 
                <font class="green">利空金银</font> 
                <font class="yellow">石油</font></td>
        </tr>
        <tr align="center" valign="middle"  class="static-data">
            <td height="40" bgcolor="#FFFFFF" class="ng-binding">17:30</td>
            <td bgcolor="#FFFFFF"><img src="/images/nation/英国.png" width="24" height="24"></td>
            <td height="40" align="left" bgcolor="#FFFFFF" class="ng-binding txtred">英国2月失业率</td>
            <td bgcolor="#FFFFFF"><img src="/images/55.jpg" width="79" height="19"></td>
            <td bgcolor="#FFFFFF" class="ng-binding">2.2%</td>
            <td bgcolor="#FFFFFF" class="ng-binding">2.2%</td>
            <td bgcolor="#FFFFFF" class="ng-binding"></td>
            <td bgcolor="#FFFFFF">
                <font class="red">利多美元</font> 
                <font class="green">利空金银</font> 
                <font class="yellow">石油</font></td>
        </tr>
        <tr align="center" valign="middle"  class="static-data">
            <td height="40" bgcolor="#FFFFFF" class="ng-binding">17:30</td>
            <td bgcolor="#FFFFFF"><img src="/images/nation/英国.png" width="24" height="24"></td>
            <td height="40" align="left" bgcolor="#FFFFFF" class="ng-binding txtred">英国2月失业金申请人数</td>
            <td bgcolor="#FFFFFF"><img src="/images/33.jpg" width="79" height="19"></td>
            <td bgcolor="#FFFFFF" class="ng-binding">-1.48</td>
            <td bgcolor="#FFFFFF" class="ng-binding">-0.85</td>
            <td bgcolor="#FFFFFF" class="ng-binding"></td>
            <td bgcolor="#FFFFFF">
                <font class="red">利多美元</font> 
                <font class="green">利空金银</font> 
                <font class="yellow">石油</font></td>
        </tr>
        <!--静态数据结束-->
        
        <tr align="center" valign="middle" ng-show="noDatas">
            <td height="40" colspan="9" align="center" bgcolor="#FFFFFF">今日无财经数据公布！</td>
        </tr>
    </table>
</div>

            <!--经济数据结束-->
            <!--财经大事开始-->
            <div class="cjsj">{{transCHNDate(selDate)}} 财经大事一览</div>
<div class="cjlb">
    <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#E6E6E6">
        <tr style="font-size:13px;"> 
            <td width="7%" height="30" align="center" valign="middle" bgcolor="#E6E6E6">时间</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">国家/地区</td>
            <td width="10%" align="center" valign="middle" bgcolor="#E6E6E6">地点</td>
            <td width="10%" align="center" valign="middle" bgcolor="#E6E6E6">重要性</td>
            <td align="center" valign="middle" bgcolor="#E6E6E6"> 事件</td>
        </tr>
        <tr align="center" valign="middle">
            <td height="40" align="center" bgcolor="#FFFFFF">16:55</td>
            <td align="center" bgcolor="#FFFFFF">美国</td>
            <td height="40" bgcolor="#FFFFFF">布鲁塞尔</td>
            <td align="center" bgcolor="#FFFFFF"><img src="images/33.jpg" width="79" height="19" /></td>
            <td align="left" bgcolor="#FFFFFF"><span style="margin:10px 0 10px 5px;"><img src="images/习近平.png" width="40" height="40" /></span><span class="shijian">国家主席习近平对津巴布韦进行国事访问，至12月2日。国家主席习近平对津巴布韦进行国事访问，至12月2日。国家主席习近平对津巴布韦进行国事访问，至12月2日。</span></td>
        </tr>
        <tr align="center" valign="middle" ng-repeat="calendar_event in calendar_events">
            <td height="40" align="center" bgcolor="#FFFFFF">{{calendar_event.time}}</td>
            <td align="center" bgcolor="#FFFFFF">{{calendar_event.nation}}</td>
            <td height="40" bgcolor="#FFFFFF">{{calendar_event.location}}</td>
            <td align="center" bgcolor="#FFFFFF"><img src="images/{{calendar_event.import_index}}{{calendar_event.import_index}}.jpg" width="79" height="19" /></td>
            <td align="left" bgcolor="#FFFFFF" style="color:#FF4D4D;"><span style="margin:10px 0 10px 5px;">
                </span><b><span class="shijian">{{calendar_event.content}}</span></b>
            </td>
        </tr>
    </table>
</div>
            <!--财经大事结束--> 
            <!--假期预告开始-->
            <div class="cjsj">{{transCHNDate(selDate)}} 假期预告一览</div>
<div class="cjlb">
    <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#E6E6E6">
        <tr style="font-size:13px;"> 
            <td width="7%" height="30" align="center" valign="middle" bgcolor="#E6E6E6">时间</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">国家/地区</td>
            <td width="10%" align="center" valign="middle" bgcolor="#E6E6E6">地点</td>
            <td width="10%" align="center" valign="middle" bgcolor="#E6E6E6">名称</td>
            <td width="65%" align="center" valign="middle" bgcolor="#E6E6E6"> 事件</td>
        </tr>
        <tr align="center" valign="middle">
            <td height="40" align="center" bgcolor="#FFFFFF">10/01</td>
            <td align="center" bgcolor="#FFFFFF">中国</td>
            <td height="40" bgcolor="#FFFFFF">上海证券交易所</td>
            <td align="center" bgcolor="#FFFFFF">国庆节</td>
            <td align="left" bgcolor="#FFFFFF"><span class="shijian">中国国庆节假期（10月1日~7日 共7天）第一日</span></td>
        </tr>
    </table>
</div>
            <!--假期预告结束--> 
            <!--国债一览开始-->
            <div class="cjsj">{{transCHNDate(selDate)}} 国债一览</div>
<div class="cjlb">
    <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#E6E6E6">
        <tr style="font-size:13px;"> 
            <td width="7%" height="30" align="center" valign="middle" bgcolor="#E6E6E6">时间</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">国家/地区</td>
            <td width="10%" align="center" valign="middle" bgcolor="#E6E6E6">地点</td>
            <td width="10%" align="center" valign="middle" bgcolor="#E6E6E6">重要性</td>
            <td align="center" valign="middle" bgcolor="#E6E6E6"> 事件</td>
            </tr>
        <tr align="center" valign="middle">
            <td height="40" align="center" bgcolor="#FFFFFF">16:55</td>
            <td align="center" bgcolor="#FFFFFF">法国</td>
            <td height="40" bgcolor="#FFFFFF">----</td>
            <td align="center" bgcolor="#FFFFFF"><img src="images/33.jpg" width="79" height="19" /></td>
            <td align="left" bgcolor="#FFFFFF"><span class="shijian">法国标售长期政府债券(OAT)</span></td>
        </tr>
        <tr align="center" valign="middle">
            <td height="40" align="center" bgcolor="#FFFFFF">16:55</td>
            <td align="center" bgcolor="#FFFFFF">美国</td>
            <td height="40" bgcolor="#FFFFFF">----</td>
            <td align="center" bgcolor="#FFFFFF"><img src="images/33.jpg" width="79" height="19" /></td>
            <td align="left" bgcolor="#FFFFFF"><span class="shijian" style="color:#FF4D4D;">国家主席习近平对津巴布韦进行国事访问，至12月2日。国家主席习近平对津巴布韦进行国事访问，至12月2日。国家主席习近平对津巴布韦进行国事访问，至12月2日。</span></td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#E6E6E6">
        <tr style="font-size:13px;"> 
            <td width="7%" height="30" align="center" valign="middle" bgcolor="#E6E6E6">时间</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">国家/地区</td>
            <td width="10%" align="center" valign="middle" bgcolor="#E6E6E6">地点</td>
            <td width="10%" align="center" valign="middle" bgcolor="#E6E6E6">重要性</td>
            <td align="center" valign="middle" bgcolor="#E6E6E6"> 事件</td>
        </tr>
        <tr align="center" valign="middle">
            <td height="40" colspan="5" align="center" bgcolor="#FFFFFF">今日无重要预告公布！</td>
        </tr>
    </table>
</div>
                
            <!--国债一览结束--> 
            <div class="clear_both"></div>
        </div>
        <!--middle结束-->
        <!-- 页脚 -->
        <div class="bottom">
     <div class="bottom1">
       <div class="copyright">© 2010 - 2015 58云财经-上海撒旦信息科技有限公司 58ycj.com 沪ICP备13089151号</div>
       <div class="statistical"></div>
     </div>
</div>
        <!-- 返回顶部 -->
        <script type="text/javascript">
        $(document).ready(function(){
            $("a.moquu_wmaps").on('click', function(){
                popWin.showWin("800", "475", "58云财经", "http://www.58ycj.com");
            });
        });
</script>

<div id="moquu_wxin" class="moquu_wxin"><a href="javascript:void(0)" title="微信公众平台">58云财经<div class="moquu_wxinh"></div></a></div>
<div id="moquu_wshare" class="moquu_wshare"><a href="javascript:void(0)" title="手机客户端">58云财经<div class="moquu_wshareh"></div></a></div>
<div id="moquu_wmaps"><a href="javascript:void(0)" class='moquu_wmaps' title="用户反馈">58云财经</a></div>
<a id="moquu_top" href="javascript:void(0)" title="返回顶部"></a>


    </body>
</html>
