<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css.css" />
    <script type="text/javascript" src="javascripts/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="javascripts/js/nav.js"></script>
        
    <title><%= title %></title>
    <!--返回顶部JS-->
</head>
<body >
    <!-- 页头 -->
    <% include public/header %>
    <script>$(".nav li:contains('APP下载')").addClass("cur");</script>
    <!-- 页面内容 -->
    <div class="middle">
        <h1>等待开发</h1>
    </div>
    
    <!-- 返回顶部 -->
    <% include public/return_top %>
</body>
</html>