<div class="cjsj">{{transCHNDate(selDate)}} 经济数据一览</div>
<div class="cjlb">
    <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#E6E6E6">
        <tr style="font-size:13px;"> 
            <td width="7%" height="30" align="center" valign="middle" bgcolor="#E6E6E6">时间</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">国家/地区</td>
            <td width="34%" align="center" valign="middle" bgcolor="#E6E6E6">指标名称</td>
            <td width="9%" align="center" valign="middle" bgcolor="#E6E6E6">重要性</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">前值</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">预测值</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">公布值</td>
            <td width="18%" align="center" valign="middle" bgcolor="#E6E6E6">多空判断</td>
        </tr>
        <tr align="center" valign="middle" ng-repeat="calendar_data in calendar_datas">
            <td height="40" bgcolor="#FFFFFF">{{calendar_data.time}}</td>
            <td bgcolor="#FFFFFF"><img src="/images/nation/{{calendar_data.nation}}.png" width="24" height="24" /></td>
            <td height="40" align="left" bgcolor="#FFFFFF" ng-class="{'txtred': calendar_data.import_index>=3}">{{calendar_data.name}}</td>
            <td bgcolor="#FFFFFF"><img src="/images/{{calendar_data.import_index}}{{calendar_data.import_index}}.jpg" width="79" height="19" /></td>
            <td bgcolor="#FFFFFF">{{calendar_data.pre_value}}</td>
            <td bgcolor="#FFFFFF">{{calendar_data.yq_value}}</td>
            <td bgcolor="#FFFFFF">{{calendar_data.sj_value}}</td>
            <td bgcolor="#FFFFFF">
                <font class="red">利多美元</font> 
                <font class="green">利空金银</font> 
                <font class="yellow">石油</font></td>
        </tr>
    </table>
</div>
