<div class="title">联系我们</div>
<div class="statement">
    <div class="contact">
        <span class="qqimg"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456&amp;site=qq&amp;menu=yes"><img src="images/qq.png" width="35" height="26" /></a></span>
        <span class="qqtxt">建议、疑问解答QQ（123456）</span>
    </div>
    <div class="contact">
        <span class="qqimg"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456&amp;site=qq&amp;menu=yes"><img src="images/qq.png" width="35" height="26" /></a></span>
        <span class="qqtxt">广告合作QQ（123456）</span>
    </div>
</div>