<div class="title">58云财经声明</div>
<div class="statement">
    <span style="color:#1A94E2;">•</span> 58云财经的数据解读是计算机自动获取并通过程序运算进行的理论性解读，不代表实际影响。<br />
    <span style="color:#1A94E2;">•</span> 我们会尽力保证数据发布速度与准确性，由于不可控因素导致数据未能及时发布敬请谅解。<br />
    <span style="color:#1A94E2;">•</span> 有些数据延迟或提前发布，这是由于数据公布机构有时未必会准时发布所导致。<br />
    <span style="color:#1A94E2;">•</span> 我们会甄选精品文章供用户阅读参考，若某些文章侵犯了您的权益，请与我们联系删除。<br />
</div>