<div class="top">
    <div class="topbox">
        <div class="logo"><a href="#"><img src="/images/cj_logo.png" width="150" height="45" /></a></div>
        <div class="ad"></div>
        <div class="navbox">  
            <!--导航开始-->
            <div class="nav">
                <ul>
                    <li ><a href="/">实时快讯</a></li>
                    <li ><a href="/news">新闻资讯</a></li>
                    <li ><a href="/calendar">财经日历</a></li>
                    <li ><a href="/mobile">APP下载</a></li>
                </ul>
                <div class="nav-line"></div>
            </div>   
            <!--导航结束-->
        </div>
    </div>
</div>