<div class="cjsj">{{transCHNDate(selDate)}} 假期预告一览</div>
<div class="cjlb">
    <table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#E6E6E6">
        <tr style="font-size:13px;"> 
            <td width="7%" height="30" align="center" valign="middle" bgcolor="#E6E6E6">时间</td>
            <td width="8%" align="center" valign="middle" bgcolor="#E6E6E6">国家/地区</td>
            <td width="10%" align="center" valign="middle" bgcolor="#E6E6E6">地点</td>
            <td width="10%" align="center" valign="middle" bgcolor="#E6E6E6">名称</td>
            <td width="65%" align="center" valign="middle" bgcolor="#E6E6E6"> 事件</td>
        </tr>
        <tr align="center" valign="middle">
            <td height="40" align="center" bgcolor="#FFFFFF">10/01</td>
            <td align="center" bgcolor="#FFFFFF">中国</td>
            <td height="40" bgcolor="#FFFFFF">上海证券交易所</td>
            <td align="center" bgcolor="#FFFFFF">国庆节</td>
            <td align="left" bgcolor="#FFFFFF"><span class="shijian">中国国庆节假期（10月1日~7日 共7天）第一日</span></td>
        </tr>
    </table>
</div>