<div class="cjxwfl">
    <div class="cjff">
        <div class="cjffl">
            <ul>
                <li class="nav-item cur"><a href="#" target="_blank">全部</a></li>
                <li class="nav-item"><a href="#" target="_blank">国际</a></li>
                <li class="nav-item"><a href="#" target="_blank">原油</a></li>
                <li class="nav-item"><a href="#" target="_blank">贵金属</a></li>
                <li class="nav-item"><a href="#" target="_blank">央行</a></li> 
                <li class="nav-item"><a href="#" target="_blank">外汇</a></li> 
            </ul>
            <!--移动的滑动-->
            <div class="move-bg"></div>
            <!--移动的滑动 end-->
            <script type="text/javascript">
                $(function(){
                    $(".cjffl").movebg({
                        width:100/*滑块的大小*/,
                        extra:0/*额外反弹的距离*/,
                        speed:300/*滑块移动的速度*/,
                        rebound_speed:10/*滑块反弹的速度*/
                    });
                })
            </script>
        </div>
        <div class="cjffr">
            <input class="search1" placeholder="Search">
                <div class="search2"><a href="#"><img src="/images/ss1.png" width="30" height="30" /></a></div>
        </div>
    </div>
</div>