<table width="100%" height="30" border="0" cellpadding="0" cellspacing="0" ng-class="{'txtred': data.import}">
    <tr>
        <!--logo-->
        <td align="left" valign="middle" width="37" >
            <a href="#">
                <img src="images/{{getNewsLogo(data.type, data.import)}}.png" width="20" height="20" title="{{getNewsLogoTips(data.type, data.import)}}" alt="{{getNewsLogoTips(data.type, data.import)}}" border="0" />
            </a>
        </td>
        <!--time 财经新闻-->
        <td align="left" valign="middle" width="55" ng-if="data.type==0" ng-bind="data.news_time|dateTransNoSec:data.news_time"></td>
        <!--time 财经数据-->
        <td align="left" valign="middle" width="60" ng-if="data.type==1" ng-bind="data.news_time|dateTrans:data.news_time"></td>
        <!--财经新闻content-->
        <td width="608" height="30" align="left" valign="middle" ng-if="data.type==0" ng-bind-html="data.content|to_trusted"></td>
        <!--财经数据table-->
        <td width="596" align="left" valign="middle" ng-if="data.type==1">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <!--国旗-->
                    <td width="54" height="60" rowspan="2" align="center" valign="middle">
                        <img src="images/nation/{{data.nation}}.png" width="40" height="40" title="国旗" alt="国旗" />
                    </td>
                    <!--公布时间-->
                    <td width="74" rowspan="2" align="center" valign="middle" style="font-size:16px;" ng-bind="data.gb_time"></td>
                    <!--指标内容-->
                    <td width="204" height="28" align="left" valign="middle" style="font-size:13px;" ng-bind="data.content"></td>
                    <!--重要级别-->
                    <td width="56" rowspan="2" align="center" valign="middle"><img src="images/{{data.import_index}}.png" width="20" height="34" title="data.import_index" /></td>
                    <!--实际指标-->
                    <td width="116" rowspan="2" align="left" valign="middle" style="font-size:16px;">实际：{{data.actual_val}}</td>
                    <!--利空利多-->
                    <td width="92" rowspan="2" align="right" valign="middle"><img src="images/{{data.li_duo}}.png" width="82" height="24" title="data.li_duo" alt="data.li_duo" /></td>
                </tr>
                <tr>
                    <!--预期值和前值-->
                    <td width="204" align="left" valign="middle" style="font-size:13px;">前值：{{data.pre_val}} 预期：{{data.expected_val}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>