<script type="text/javascript">
        $(document).ready(function(){
            $("a.moquu_wmaps").on('click', function(){
                popWin.showWin("800", "475", "58云财经", "http://www.58ycj.com");
            });
        });
</script>

<div id="moquu_wxin" class="moquu_wxin"><a href="javascript:void(0)" title="微信公众平台"><%= title %><div class="moquu_wxinh"></div></a></div>
<div id="moquu_wshare" class="moquu_wshare"><a href="javascript:void(0)" title="手机客户端"><%= title %><div class="moquu_wshareh"></div></a></div>
<div id="moquu_wmaps"><a href="javascript:void(0)" class='moquu_wmaps' title="用户反馈"><%= title %></a></div>
<a id="moquu_top" href="javascript:void(0)" title="返回顶部"></a>

